@import "font.css";

:root {
  --orange: #f18128;
  --white: #ffffff;
  --black: #040d1f;
  --mont: "Montserrat";
  --comf: "Comfortaa";
  --rob: "Roboto";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background: var(--black);
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}
.header__film {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 99, 128, 1) 7%,
    rgba(39, 57, 108, 1) 23%,
    rgba(112, 76, 88, 1) 37%,
    rgba(102, 59, 99, 1) 61%,
    rgba(69, 34, 85, 1) 95%
  );
  gap: 25px;
}
.header__film-text {
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 170px;
}

.header__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header__nav {
  background: rgba(1, 3, 5, 0.8);
  backdrop-filter: blur(7.5px);
}

.logo span {
  font-family: var(--comf);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--white);
}
.header__nav-link {
  font-family: var(--mont);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
.header__nav-link span {
  padding: 42px 6px;
}
.header__nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--orange);
  border-radius: 23px 23px 0px 0px;
  transition: 0.4s;
  transform: scale(0);
}
.header__nav-link:hover::after {
  transform: scale(1);
}
.header__nav-link:hover {
  color: var(--orange);
}
.intro {
  position: relative;
  height: 90vh;
  background: rgba(7, 15, 25, 0.75);
  display: flex;
}
.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.intro__title {
  font-family: var(--mont);
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: var(--white);
}
.intro__text {
  font-family: var(--mont);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #c8c8c8;
  margin: 30px 0 60px;
  max-width: 570px;
  width: 100%;
}
.intro__link {
  display: flex;
  align-items: center;
  gap: 30px;
}
.button {
  width: 166px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  border-radius: 4px;
  font-family: var(--rob);
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  color: var(--white);
  transition: 0.4s;
}
.button:hover {
  color: var(--black);
  background: var(--orange);
}
.films {
  padding: 60px 0 80px;
}
.section-title {
  font-family: var(--comf);
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--orange);
  width: max-content;
}
.section-title::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--orange);
  display: block;
  margin-top: 10px;
}
.films__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(370px, max-content);
  margin-top: 55px;
  gap: 30px;
}
.films__item {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(241, 129, 40, 0.35) 0%,
    rgba(0, 0, 0, 0.71) 51.04%,
    rgba(7, 15, 25, 0.8) 100%
  );
  border-radius: 6px;
  overflow: hidden;
  padding: 54px 15px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.films__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.films__item-duration {
  background: rgba(7, 15, 25, 0.2);
  border: 1px solid #ffffff;
  border-radius: 9px;
  font-family: var(--mont);
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: var(--white);
  padding: 7px 28px;
  margin: 12px 0 30px;
}
.films__item-title {
  font-family: var(--mont);
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: var(--white);
  margin-bottom: 12px;
}
.films__item-text {
  font-family: var(--rob);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
}

.widow {
  background: linear-gradient(
    90deg,
    #def7ff 0%,
    #f4fcff 45.64%,
    rgba(255, 255, 255, 0) 100.72%
  );
  padding: 42px 0 80px;
  position: relative;
}
.widow__video {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
.widow__img {
  max-width: 445px;
  width: 100%;
}
.widow__text {
  font-family: var(--rob);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  color: var(--black);
  max-width: 560px;
  width: 100%;
  margin: 50px 0 55px;
}
.collections__column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 30px;
  margin-top: 50px;
}
.collections__item {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.collections__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  transition: .4s;
}
.collections {
  padding: 60px 0;
}
.collections__item::before {
  content: "";
  background: url("../images/cube.png") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .4s;
}
.collections__item::after {
  content: "";
  background: linear-gradient(
    270deg,
    rgba(7, 15, 25, 0.56) 0%,
    rgba(49, 114, 9, 0.56) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.collections__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.collections__item-title {
  font-family: var(--comf);
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: var(--white);
  transition: .4s;
}
.films__item-icon{
  transition: .4s;
}
.collections__item:hover .collections__item-bg{
  transform: scale(1.2);
}
.collections__item:hover::before{
  transform: scale(1.2);
}
.collections__item:hover .films__item-icon{
  transform: scale(1.3) rotate(360deg);
}
.collections__item:hover .collections__item-title{
  transform: scale(1.2) translateY(10px);
}